<!--Top Nav-->
<nav id="top-navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">

    <div class="col-sm-4 hidden-xs">
      <div class="navbar-text pull-left" style="margin-left: 0px;">
        <a [routerLink]="['/user', 'course', courseId, 'module', moduleId, 'chapter']">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-header pull-left">
        <a class="navbar-brand">
          <b>Chapters</b>
        </a>
      </div>


    </div>

    <div class="col-sm-8">
      <div class="navbar-text pull-left hidden-sm hidden-md hidden-lg">
        <a [routerLink]="['/user', 'website']">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-text pull-right">
        <a (click)="create($event)">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>

      <div class="navbar-header pull-left">
        <a class="navbar-brand">
          <b>New Chapter</b>
        </a>
      </div>
    </div>

  </div>
</nav>

<div class="row container-fluid">

  <div class="col-sm-4 hidden-xs">

    <div  class="list-group" *ngFor="let chapter of chapters">
         
      <div class="list-group-item clearfix">
            <a class="pull-left"
               [routerLink]="['/user', 'course', courseId, 'module', moduleId,
      'chapter', chapter.id, 'topic']">{{chapter.chapterName}}</a>

             <a class="pull-right" [routerLink]="['/user','course', chapter.id]">
               <span class="glyphicon glyphicon-cog"></span>
             </a>
      </div>
    </div>

  </div>



  <div class="col-sm-8">
    <form>
      <div class="form-group">
        <label for="chapter-name">Name</label>
        <input id="chapter-name"
               type="text"
               class="form-control"
               placeholder="Chapter Name"
               name="chapterName"
               [(ngModel)]="chapterName"/>

      </div>
    </form>
    <div *ngIf=errorFlag
         class="alert alert-danger">
      {{error}}
    </div>

    <form>
      <div class="form-group">
        <label for="chapter-description">Description</label>
        <textarea class="form-control"
                  rows="5"
                  id="chapter-description"
                  placeholder="Chapter Description"
                  name="chapterDescription"
                  [(ngModel)]="chapterDescription"></textarea>
      </div>
    </form>


  </div>
</div>


<!-- Footer -->
<nav id="footer" class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
