<!--<br />-->
<!--<div class="container-fluid">-->
  <!--<div class="row">-->
    <!--<div class="col-md-3">-->
      <!--<app-module-list></app-module-list>-->
    <!--</div>-->
    <!--<div class="col-md-9">-->
      <!--<app-section-list-editor></app-section-list-editor>-->
      <!--<br/>-->
      <!--<app-subsection-list-editor></app-subsection-list-editor>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!-- Top Nav -->
<nav id="website-top-navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">

    <div class="col-sm-4 hidden-xs">
      <div class="navbar-text pull-left" style="margin-left: 0px;">
        <a [routerLink]="['/user', 'course']">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-header pull-left">
        <a class="navbar-brand">
          <b>Courses</b>
        </a>
      </div>



    </div>

    <div class="col-sm-8">
      <div class="navbar-text pull-left hidden-sm hidden-md hidden-lg" >
        <a [routerLink]="['/user', 'website']">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-text pull-right" >
        <a (click)="edit($event)">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>

      <div class="navbar-header pull-left">
        <a class="navbar-brand">
          <b>Edit Course</b>
        </a>
      </div>
    </div>

  </div>
</nav>

<div class="row container-fluid">

  <!-- Website List-->
  <div class="col-sm-4 hidden-xs">

    <ul class="list-group" *ngFor="let course of courses">
      <li class="list-group-item">
        <a [routerLink]="['/user', 'course', course.id, 'module']">{{course.courseName}}</a>
        <a [routerLink]="['/user', 'course', course.id]">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </li>
    </ul>

  </div>


  <div class="col-sm-8">
    <form>
      <div class="form-group">
        <label for="course-name">Name</label>
        <input type="text"
               class="form-control"
               id="course-name"
               placeholder="Course Name"
               name="courseName"
               [(ngModel)]="courseName"/>
      </div>
    </form>
    <div *ngIf=errorFlag
         class="alert alert-danger">
      {{error}}
    </div>

    <form>
      <div class="form-group">
        <label for="course-description">Description</label>
        <textarea id="course-description"
                  class="form-control"
                  rows="5"
                  placeholder="Course Description"
                  name="courseDescription"
                  [(ngModel)]="courseDescription"></textarea>
      </div>
    </form>

    <button class="btn btn-block btn-danger"
            type="submit"
            (click)="delete($event)">Delete</button>


  </div>
</div>

<!-- Footer -->
<nav id="footer" class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

